[2020-06-04 05:58] vinitshahdeo opened #1 "The low & high range of ports in scanner.py is hardcoded"
#### Reading `config.json` and using `range.low` and `range.high` in `scanner.py`

---

**The range for ports shouldn't be hardcoded.** It should be ideally fetched from `config.json` as it's being used in `server/index.js`.

[code]

[2020-06-04 11:26] TaniaMalhotra commented on #1
Hii
I have opened a PR for the same

[2020-06-04 13:15] vinitshahdeo commented on #1
Thanks @TaniaMalhotra, will have a look into this. 👍

[2020-06-07 21:28] tinovasq commented on #1
Hello! I noticed that someone already solved this issue, but I wanted to go ahead and throw in my own since I didn't see the PR until I was finished with it. I also updated the necessary syntax to work in py3.8

[2020-06-08 06:30] vinitshahdeo commented on #1
@tinovasq That's great. 👏  Will have look into this.

[2020-06-08 06:32] vinitshahdeo commented on #1
@TaniaMalhotra Check [Water Monitoring System](https://github.com/vinitshahdeo/Water-Monitoring-System/). See if you can find something interesting  [there](https://github.com/vinitshahdeo/Water-Monitoring-System/issues/236).

[2020-06-09 21:31] vinitshahdeo opened #7 "Port for created Express servers should be logged"
Ideally it should log **Started a server at XXXX port**.

https://github.com/vinitshahdeo/PortScanner/blob/4b810af38df32816993b43306af5ab8e53678f42/server/index.js#L29

[2020-06-09 22:39] JapneetSingh5 commented on #7
Hi, created a PR !

[2020-06-09 23:23] vinitshahdeo opened #10 "Use threading for scanning ports for better effieciency"
The time taken for scanning the ports in large range is higher.

**Improve the performance using threading.**

[2020-06-09 23:24] Kashish121 commented on #10
Hey, I would like to take this issue.

[2020-06-10 06:34] vinitshahdeo opened #11 "[New Feature][Network Scanner] Add a feature for scanning IPs"
### **Feature to be added:** IP scanner 🔍

Follow the similar code structure and add a new file (`ipScanner.py`) in the `root` directory.

To make you understand why're we doing this:

![image](https://user-images.githubusercontent.com/20594326/84234620-337fdc80-ab12-11ea-9430-2944c82463ec.png)

<p align="center"><a href="https://my.gradwell.com/s/article/what-is-port-scanning">Image Source</a></p

[2020-06-10 12:53] vinitshahdeo opened #12 "[Frontend] Add GUI with input fields for range + CTAs for scanning network"
Currently this is a CLI based application, convert this into a **GUI application** to make the UX better!

- _**Must have:**_
     - **A window with menus** (IP Scanning/Port Scanning)
     - **Input box to enter host**
     - **Input fields to enter low & high range of ports**
     - **CTA(Button) to start scanning**
     - **List of Ports/IPs** (once the scanning is done)

- **_Good to have:_**

[2020-06-11 00:36] ziyad00 commented on #11
can you elaborate the feature

[2020-06-11 21:59] #10 closed

[2020-06-12 11:01] vinitshahdeo commented on #12
@Kashish121 Changed the directory structure and updated the steps in `README.md`. Please have a look and verify that nothing is breaking and one can easily run the project following the steps mentioned in `README.md`.

@ishika1727 Please rebase your `master` branch and raise the PRs again. Sorry for your inconvenience. 😞

[2020-06-12 11:10] vinitshahdeo opened #16 "Add a description about multi-threading"
Inside [this](https://github.com/vinitshahdeo/PortScanner#performance-using-threads-dart) section, please write a brief description (not more than 3 lines) stating why have we decided to go with multi threading.

[2020-06-12 11:11] vinitshahdeo commented on #16
Here you go, @Kashish121!

[2020-06-12 14:02] Kashish121 commented on #16
Will be up with the description asap.

[2020-06-12 14:04] vinitshahdeo commented on #16
@Kashish121 Awesome 👍

[2020-06-12 14:24] vinitshahdeo commented on #11
@ziyad00 Within the given range of IPs, you have to scan the network to find the available hosts.

[2020-06-12 14:25] vinitshahdeo commented on #11
@Kashish121 Take a look into this, can you raise a PR for the same by tomorrow EOD?

[2020-06-12 15:05] Kashish121 commented on #12
On it.

[2020-06-12 15:09] Kashish121 commented on #11
Will raise the PR soon, allow me some time.

[2020-06-12 16:15] #16 closed

[2020-06-12 16:54] ishika1727 commented on #12
On it.

[2020-06-12 17:17] vinitshahdeo opened #19 "Path for config.json is not resolved in scanner.py"
The relative path of `config.json` is not resolved in `scanner.py` [Reproducible in Windows only]

[code]

Reported by @Kashish121

[2020-06-12 17:18] vinitshahdeo commented on #19
@Kashish121 I'm working on this! Will raise the PR soon.

[2020-06-12 18:52] Kashish121 commented on #12
No issues. PortScanner can be run easily following the steps mentioned in `README.md`.
Error due to director structure #19 also resolved.

[2020-06-12 19:34] vinitshahdeo commented on #19
@Kashish121 If it's working for you, please close this issue.

[2020-06-12 19:37] Kashish121 commented on #19
Yes this works. 👍

[2020-06-12 19:37] #19 closed

[2020-06-13 12:35] vinitshahdeo commented on #12
**TODO<sup>as discussed in meeting</sup>**

@ishika1727 - Explore [materialize](https://materializecss.com/)
@Kashish121  - Explore [flask](https://www.fullstackpython.com/flask.html).

Post your thoughts here for the wireframe.

[2020-06-13 12:43] vinitshahdeo commented on #12
From now onwards, we'll track our progress [here](https://github.com/users/vinitshahdeo/projects/9).

#### @Kashish121 , @ishika1727 - [Check out](https://github.com/users/vinitshahdeo/projects/9) the Project board.

[2020-06-13 23:09] ishika1727 commented on #12
@vinitshahdeo  Please review this UI

![image](https://user-images.githubusercontent.com/42978414/84580883-ff9a0500-adf8-11ea-92a1-4ffd7c0d3e45.png)

[2020-06-13 23:15] vinitshahdeo opened #25 "Update README.md for instructions for IP Scanning"
Add a step in `How to Run` section!

[2020-06-14 11:49] vinitshahdeo commented on #12
@ishika1727 Few suggestions from my end:

- The CTA (`Scan Now`) should be at the end.
- The input text fields shouldn't cover the whole width.
- The sidebar should be fixed a bit - it looks like an admin portal now. Remove email, just have logo!
- Add helper texts for all the inputs.

[2020-06-14 11:52] vinitshahdeo commented on #25
@Kashish121 Any updates on this?

Raise a PR to `master` from `develop`.

[2020-06-14 18:12] vinitshahdeo opened #28 "[DESIGN] Logo required"
Since [this](https://github.com/vinitshahdeo/PortScanner) project has no logo, **design a good, formal, attractive and elegant logo for this project that stands for our objective and relates to the project identity. i.e. a go-to networking tool for scanning the networks.**

- Export in all formats with different standard dimensions.

    - `PNG`
    - `SVG`
    - `JPG`

- Design `favicon` for the

[2020-06-14 20:24] ishika1727 commented on #12
@vinitshahdeo I have made the required changes. Please review it.

![image](https://user-images.githubusercontent.com/42978414/84603305-fc5f5180-aeaa-11ea-806c-e2d5a1b7cb4c.png)

[2020-06-14 20:25] nainikaB commented on #12
@vinitshahdeo thank you for tagging me! :) Yes, I'd love to! And you have already made some key observations regarding the functionality of it.

@ishika1727 Okay so a couple of things, I think the page lacks design. I do understand that this is just a utility tool but, maybe give the user an experience and interphase they'll always remember.

So instead of having it route to contact and about, the

[2020-06-14 20:31] vinitshahdeo commented on #12
@nainikaB Wow, this is an intensive review! ❤️
Thanks for your valuable thoughts. We'll definitely look into these. ✌️

[2020-06-14 20:37] vinitshahdeo commented on #12
@ishika1727, **Center align the GitHub logo in sidebar and let's change the color of icon to the theme color.** Rest we can discuss over the call.

[2020-06-14 20:45] nainikaB commented on #12
@vinitshahdeo ayeee please don't thank me, happy to be of any kind of help with your project. :) Although, I think I might have increased the work load, sorry! If you guys are on a strict time constraint ignore the complete rearranging of elements that I suggested and instead, maybe improvise with the current design itself along with the comments I have attached above and anything else that I migh

[2020-06-14 20:48] nainikaB commented on #12
Please change the font for the title/heading.

[2020-06-14 20:49] vinitshahdeo commented on #12
@nainikaB 😊  Will ensure that the UI bit includes all of your suggestions. Thanks for being kind, as always!

**Keep guiding!** ✌️

[2020-06-15 15:39] vinitshahdeo commented on #12
**[ Frontend / TODO ]**

@ishika1727 Here's sharing a few utilities which you can use to finalize the fonts. Use a combo of **three** font-families - **heading**, **sub-heading** and **paragraph**.

- [typespiration.com](https://typespiration.com/design/) (Recommended)
- [fontjoy.com](https://fontjoy.com/)
- [fontpair.co](https://fontpair.co/)

Check [colorhunt.co](https://colorhunt.co/) to get in

[2020-06-15 16:32] vinitshahdeo opened #33 "[BUG] CONTRIBUTING.md and Code of Conduct is opening raw file in gh-pages"
In the deployed GitHub pages [website](https://vinitshahdeo.github.io/PortScanner/), [CONTRIBUTING.md](https://vinitshahdeo.github.io/PortScanner/CONTRIBUTING.md) and [Code of Conduct](https://vinitshahdeo.github.io/PortScanner/CODE_OF_CONDUCT.md) is opening as a raw file. Ideally, it should open as jekyll pages like [DISCLAIMER.md](https://vinitshahdeo.github.io/PortScanner/DISCLAIMER.html)

![Sc

[2020-06-15 16:33] vinitshahdeo commented on #33
@Kashish121 & @ishika1727 - Please triage this issue. I'm fixing this in some time.

[2020-06-15 16:47] vinitshahdeo commented on #33
Yes! 🎉
It's fixed now! :v:

Check now @Kashish121 @ishika1727

[2020-06-15 17:41] Kashish121 commented on #33
Oh yes! It's fixed already. 🎉

[2020-06-17 06:01] #33 closed

[2020-06-17 10:08] vinitshahdeo opened #36 "[GH Pages] Too slow to load"
**[PortScanner](https://vinitshahdeo.github.io/PortScanner/) is taking much time<sup>more than expected</sup> to load.** There might be issue with my network but it's better to run an audit against it.

[2020-06-17 10:12] vinitshahdeo commented on #36
@Kashish121 Can you please audit the [UI](https://vinitshahdeo.github.io/PortScanner/) using [Lighthouse](https://developers.google.com/web/tools/lighthouse) and submit the detailed report along with improvements? Suggest your ways to improve the performance.

Take up this task once you're done with the POC using Flask, that should be our first priority.

[2020-06-17 11:12] Kashish121 commented on #36
Sure, will look into this after I am done with flask.

[2020-06-18 13:00] vinitshahdeo commented on #12
**[ Deliverables by Sunday EOD ]**

- **Updated UI with all the changes** (including font-family and final theme color) - @ishika1727
     - Create a `feature/frontend` branch from `master` and push your changes. (Follow [CONTRIBUTING.md](https://vinitshahdeo.github.io/PortScanner/CONTRIBUTING.html))
     - Create a PR for the same

- **Frontend to be rendered using Flask** (We can look for adding

[2020-06-18 14:27] Kashish121 commented on #12
@vinitshahdeo, Working on it already. 👍 Will share the updates.

[2020-06-18 18:57] ishika1727 commented on #12
Doing the required changes. Will create a PR soon

[2020-06-21 14:21] vinitshahdeo commented on #12
@ishika1727 & @Kashish121 - Any updates? Let's sync up and finish the pending tasks.

[2020-06-21 15:52] Kashish121 commented on #12
Hey @vinitshahdeo , got the required changes in the UI today. Will push the the code for connectivity tomorrow.

[2020-06-21 18:09] ishika1727 commented on #12
@vinitshahdeo already created a PR yesterday with the changes you suggested.

[2020-06-22 02:20] anandhakrishnanaji commented on #11
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2020-06-22 05:45] vinitshahdeo commented on #11
@anandhakrishnanaji This is already done! @Kashish121, Can you please confirm if anything else is left for the same?

[2020-06-22 07:43] Kashish121 commented on #11
@vinitshahdeo Yes this issue/feature has been resolved by me. It does not require any updates as of now.

[2020-06-22 08:36] vinitshahdeo commented on #12
@ishika1727 Added few comments on #39

[2020-06-25 13:43] vinitshahdeo commented on #12
@Kashish121 / @ishika1727 - Please try running [this](https://github.com/vinitshahdeo/PortScanner/tree/feature/frontend) locally and confirm me.

[2020-06-25 14:46] Kashish121 commented on #12
Works for me @vinitshahdeo . @ishika1727 can you confirm once?

[2020-06-25 18:45] ishika1727 commented on #12
works for me too

[2020-06-26 16:16] Kashish121 commented on #36
Here is the performance report I got using Lighthouse.

For normal tab,

![WhatsApp Image 2020-06-26 at 9 26 58 PM](https://user-images.githubusercontent.com/56366103/85877739-40c8e680-b7f5-11ea-8e28-3ff0f46b496b.jpeg)

For incognito tab,

![WhatsApp Image 2020-06-26 at 9 27 22 PM](https://user-images.githubusercontent.com/56366103/85877796-550ce380-b7f5-11ea-99bf-51686c71adf2.jpeg)

Difference in

[2020-06-26 16:37] vinitshahdeo commented on #36
Looks good!

@Kashish121 We're using GitHub pages(Jekyll themes), the only perf improvement I see here is **minimizing the network calls**. The various badges used are responsible for increasing the number of network calls which is okay as of now as badges are too cool to remove! 😉

[2020-06-26 16:43] Kashish121 commented on #36
Oh yes! I get this. Then this is it for now. :+1:

[2020-07-15 04:04] Sohaib03 commented on #12
Is this open ? I would like to make an GUI interface using PyQt5.

[2020-07-15 05:02] vinitshahdeo commented on #12
Hey @Sohaib03, thanks for showing your interest. Please go ahead.

PS: The website is done but let's have Desktop GUI too.

[2020-07-15 05:29] Sohaib03 commented on #12
I will be using PyQt5 with Python 3. Is that okay ?

[2020-07-15 12:23] vinitshahdeo commented on #12
@Sohaib03 That's fine. Just ensure that you branch off from correct branch (`feature/python3`) and follow the recommended directory structure.

[2020-07-16 06:48] Sohaib03 commented on #12
How is this for the UI ?
![ss](https://user-images.githubusercontent.com/16899515/87636517-af4cf480-c762-11ea-89de-a86336161646.png)

[2020-07-16 13:09] vinitshahdeo commented on #12
@Sohaib03 This looks great. 🤩  👏
Super excited to run this locally once you **raise the PR**.

cc: @Kashish121 / @ishika1727

[2020-07-16 13:36] Sohaib03 commented on #12
Thanks. I am working on it.

[2020-07-16 16:52] Sohaib03 commented on #12
I want to make a pull request. Do you want to review the code ?

[2020-07-16 16:57] vinitshahdeo commented on #12
@Sohaib03 Yes, please raise the PR.
Not only me, @Kashish121 and @ishika1727  will also review the code.

[2020-07-17 16:12] Sukran001 commented on #28
@vinitshahdeo Can i work on this?

[2020-07-17 16:14] vinitshahdeo commented on #28
@Sukran001 Yes, please go ahead. Keep us posted here! Feel free to share your logo ideas here.

cc: @Kashish121 / @ishika1727

[2020-07-17 19:33] Sukran001 commented on #28
![port scanner 01(submit)](https://user-images.githubusercontent.com/62799487/87824209-a8bf9980-c896-11ea-808b-98479c01daef.png)
![port scanner  02(submit)](https://user-images.githubusercontent.com/62799487/87824236-b2e19800-c896-11ea-88e9-efc93dad9d0f.png)
![port scannner 03(submit)](https://user-images.githubusercontent.com/62799487/87824245-b8d77900-c896-11ea-83a0-52db208f184f.png)
![port scan

[2020-07-17 19:35] Sukran001 commented on #28
this are some samples on a concept i thought of.. feel free to ask any change or give review

[2020-07-18 17:33] Kashish121 commented on #28
Hey @Sukran001 , these designs are awesome! That is a great way of incorporating the word 'scanner' in the logo. However, I feel this one is a little complex for a logo, can we just change the current anchor to a simpler anchor(Maybe with lesser edges)? ⚓

Also, lets go for this orientation.

![image](https://user-images.githubusercontent.com/56366103/87858273-5c359600-c94a-11ea-87b7-1a3bd02335cc.

[2020-07-18 18:07] vinitshahdeo commented on #28
@Sukran001 Thanks for all your efforts. Loved your designs but IMO having a simple logo looks more attractive.  I agree with @Kashish121.

[2020-07-19 05:10] Sukran001 commented on #28
Thanks for reviewing.. I am working on the preferances

[2020-07-19 11:27] mirajhad commented on #28
can I work on this ?

[2020-07-20 06:59] Sukran001 commented on #28
this are some changes i made on the previous logo
![port scanner 05-01](https://user-images.githubusercontent.com/62799487/87908743-c6545500-ca88-11ea-96e9-33071744fd0f.png)
![port scanner 06-01](https://user-images.githubusercontent.com/62799487/87908754-cbb19f80-ca88-11ea-8167-c05af574a5e5.png)

[2020-07-20 07:01] Sukran001 commented on #28
and this is a new concept i thought, perfering a simple look for the logo
![port scanner new 01-01](https://user-images.githubusercontent.com/62799487/87908919-16331c00-ca89-11ea-8415-607f3a1dc29c.png)
![port scanner new 02-01](https://user-images.githubusercontent.com/62799487/87908929-19c6a300-ca89-11ea-9ab0-33450418ad29.png)

[2020-07-20 07:24] Sukran001 commented on #28
![port scanner new 03-01](https://user-images.githubusercontent.com/62799487/87910761-5f389f80-ca8c-11ea-8843-e493836b208c.png)

[2020-07-20 17:51] vinitshahdeo commented on #28
Wow 🤩
All designs are awesome.
Indeed a great job! 👏

Just allow me sometime to think which one shall we go for?

@ishika1727 / @Kashish121 Your views?

[2020-07-20 19:22] ishika1727 commented on #28
Awesome work @Sukran001
Both designs have an amazing concept. I personally liked these two designs.

![image](https://user-images.githubusercontent.com/42978414/87977185-f254f200-caeb-11ea-8730-64d65657e26a.png)

![image](https://user-images.githubusercontent.com/42978414/87977213-ff71e100-caeb-11ea-8b81-c2536dd70f68.png)

[2020-07-20 20:38] Kashish121 commented on #28
@Sukran001  These designs are pretty great ! 💯

[2020-07-23 05:25] vinitshahdeo commented on #28
@Kashish121 Let's finalize the logo by this weekend. @ishika1727 Accordingly, we will have to change the UI a bit.

PS: @Sukran001 Thanks for your patience.

[2020-07-29 19:22] himanshujaidka commented on #7
Is this solved or not?

[2020-07-30 04:29] vinitshahdeo commented on #7
Hey @himanshujaidka, it's resolved.

[2020-07-30 06:12] himanshujaidka commented on #7
ok

[2020-08-05 15:29] imabp commented on #28
@vinitshahdeo I also saw the issue, and seeing it, _I got nostalgic  about the plug and play video games, back to good old days._
So I made this logo, hope it is okay? <br/>
![image](https://user-images.githubusercontent.com/53480076/89431847-0fc9c300-d75e-11ea-8b4a-98867179e212.png)

I have made it in **svg** too. Here below is the svg code:
[code]

[2020-08-06 13:27] vinitshahdeo commented on #28
@imabp Thanks for your input, Abir! 💯

[2020-08-13 13:15] vinitshahdeo opened #48 "Welcome to HackinCodes"
### :wave: Hello,

**Thanks for showing your interest in [HackinCodes](https://hakincodes.tech/).**
Super glad to know that you're interested in contributing to **[Port Scanner](https://vinitshahdeo.github.io/PortScanner/)** project.

Introducing mentors below:

|      Name :medal_military:    |     Social Media :wave:    | GitHub :octocat: |  Domain |
|:-------------:|:-------------------|-------

[2020-08-14 06:26] gupta-niharika commented on #48
#48 Hi, I'm Niharika Gupta. I'm a 2nd year student from VIT vellore and I do back-end development in Flask.  :) cheers !

[2020-08-14 13:33] NetanMangal commented on #48
This is **Netan Mangal** here. I am 3rd year BE Computer Science student looking to work on this project.

Github: https://github.com/NetanMangal
LinkedIn: https://www.linkedin.com/in/netanmangal/

[2020-08-14 15:40] himanshujaidka opened #52 "[BUG] Syntax error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to after running python src/scanner.py
2. Click on '....'
3. Scroll down to '....'
4. See error It will show error on line number 22(Syntax error)
![Screenshot (52)](https://user-images.githubusercontent.com/58654018/90267028-907d7300-de72-11ea-8dcd-974c0043f399.png)

*

[2020-08-14 15:50] himanshujaidka opened #54 "[BUG] raw_input is not compatible in python 3"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-14 15:55] himanshujaidka commented on #54
see #53

[2020-08-14 15:55] himanshujaidka commented on #52
see #53

[2020-08-15 17:13] bijoy26 commented on #48
Hello, this is **Anjum Rashid** from Bangladesh.
I’m a blockchain and cyber security enthusiast.

It’s been couple of months since I’ve started contributing to open source, which has enabled me to learn newer tools, understand newer concepts and work on issues by myself.

I’m looking forward to spend my next 45 days over this cool project and learn the associated concepts/tools with it!

Connect w

[2020-08-15 17:53] NetanMangal commented on #48
Hi @all
I want to ask I cloned the repo and try running it with having python version 3.6 and pycharm starting showing me a lot of errors...
So is this currently supporting python v2.7 only...???

[2020-08-15 18:35] Kashish121 commented on #54
Hey @himanshujaidka , the python codes in the `master` branch are written in *python2*. Checkout branch `feature/python3.8` for *python3*. 👍

[2020-08-15 18:40] Kashish121 commented on #48
Hey @NetanMangal , the python files in `master` branch supports *python2.7*. However there is a separate branch `feature/python3.8` supporting the corresponding python version. 😃

[2020-08-16 05:42] priyo97 opened #55 "[BUG] Indexes of the port list are getting used as ports rather than the actual PORT"
**Describe the bug**
**Bug 1**: the **ports** list which generated using the values read from the config.json file is not getting used. Rather the index is getting used as port in the **scan** function. [Refer to screenshot 2]
**Bug 2**: Now because of the above bug, regardless of the low port value given in the config file, the port scanning starts from 0 onwards.
**Bug 3**: **setdefaulttimeout**

[2020-08-16 16:42] Kashish121 opened #56 "[BUG] [Frontend] GitHub icon align-middle in index.html."
The GitHub icon on the bottom-left of the page should ideally appear in the middle of the sidebar instead of the current left position.

Checkout `src/templates/index.html`. 📂

![CapturePS](https://user-images.githubusercontent.com/56366103/90339124-6f508a00-e00c-11ea-8bc7-7a7a32882fbc.PNG)

[2020-08-16 17:16] Kashish121 opened #57 "[Feature] Include ipscanner feature in python3 ."
The `master` branch of the repository is maintained for *python2* whereas the `feature/python3.8` branch is maintained for *python3*.

The 'ipscanner' feature in `master` ( `src/ipscanner.py` ) is compatible with *python2*, write the corresponding *python3* code for 'ipscanner' and create a PR in `feature/python3.8` branch.

[2020-08-16 17:17] deprov447 commented on #56
@Kashish121 I would like to work on this issue

[2020-08-16 17:43] ishika1727 opened #58 "[Frontend] Responsive Navbar"
Responsive navbar required for the current `UI/UX` for the project.

Make the required changes in the `src/templates/index.html` and `src/static/index.css` to add responsiveness in the navbar. In mobile view, navbar should toggle on button click and vary it's size according to screen size in desktop as well as mobile view.

[2020-08-16 17:43] AdityaAshvin commented on #56
Can I work on this @Kashish121 ?

[2020-08-16 17:58] Kashish121 opened #59 "[Feature] Multithreading feature in python3 for corresponding python2 file"
The `master` branch is maintained for *python2* whereas the `feature/python3.8` branch is maintained for *python3*. Multithreading feature is available in *python2* as of now.

The multithreading feature has been used in the project to improve efficiency of the scanning process. Checkout 'Need for Multithreading' section in  [README.md](https://github.com/vinitshahdeo/PortScanner#need-for-multithr

[2020-08-16 17:58] ishika1727 opened #60 "[Frontend Feature] Add GUI for IPScanner"
Currently this application has GUI for `Portscanner` only. Add GUI for `IPScanner` for increased functionality.

<b>Must have:</b>

An option(IPScanner) added in the navbar
Input box to enter IP address
CTA(Button) to start scanning
List of IPs (once the scanning is done)

<b>Good to have:</b>

A live timer to show the total scanning time
Some kind of indication (animation) in UI while scanning is

[2020-08-16 18:12] ishika1727 opened #61 "[BUG] [Frontend] Adjust the Timer Size"
The size of the `timer/clock` should vary according to the screen size. In mobile view, the timer should appear below the input fields and the button.

[2020-08-16 19:02] Kashish121 commented on #56
Yes @deprov447 go ahead. 👍  Create the PR by tomorrow EOD.

@AdityaAshvin You can work on this if the assignee fails to submit the PR by tomorrow. Till then find another issue [here](https://github.com/vinitshahdeo/PortScanner/issues). 😄

[2020-08-16 19:03] ishika1727 opened #62 "[Documentation]Update working of the project in docs"
Analyze the complete working of the project and update the documentation in `docs/Documentation.docx` and `docs/documentation.md`.

Create a PR in  `feature/documentation` branch.

[2020-08-16 19:14] Kashish121 commented on #28
Hey, @Sukran001 . Can you please update the raw formats of the logo(s) to `assets/raw` folder?

[2020-08-16 19:16] ishika1727 opened #63 "[BUG] Hide the scanning output before the scan renders the output."
Hide the <b>Scanning remote host between range to</b> and <b>Scanning complete in time</b> output before the scanning is completed.

Make required changes in :
`src/templates/index.html`
`src/static/css/index.css`
`src/static/js/index.js`
<br>
![image](https://user-images.githubusercontent.com/42978414/90341988-17248280-e022-11ea-8380-4aae3261bae2.png)

[2020-08-16 19:16] AdityaAshvin commented on #58
@ishika1727 Can I work on this?

[2020-08-16 19:20] ishika1727 commented on #58
@AdityaAshvin please go ahead.

Create a PR by Friday EOD

[2020-08-16 19:28] Kashish121 opened #64 "[Feature Request] Add the history of previous 10 scans under the History section in the UI."
Add the history of previous 10 scans of the user under the *History* section of the UI.

Make the required changes in :
`src/templates/index.html`
`src/static/css/index.css`
`src/static/js/index.js`

![image](https://user-images.githubusercontent.com/56366103/90342115-5901f880-e023-11ea-89fb-3ff47b7b0631.png)

[2020-08-16 19:36] Kashish121 commented on #56
Also, @AdityaAshvin and @deprov447 if you guys are participants of [**Hakincodes**](https://hakincodes.tech/) please introduce yourselves in the [Welcome to Hakincodes](https://github.com/vinitshahdeo/PortScanner/issues/48) thread. 👋
It will help us keep track of your progress and contributions during the period. 😄

[2020-08-16 19:36] avinashkranjan commented on #57
I'd like to work on this issue..

[2020-08-16 19:39] Kashish121 commented on #57
Yes @avinashkranjan , please go ahead. 👍

[2020-08-16 19:40] Kashish121 commented on #57
Also, @avinashkranjan  if you are a participant of [**Hakincodes**](https://hakincodes.tech/) please introduce yourselves in the [Welcome to Hakincodes](https://github.com/vinitshahdeo/PortScanner/issues/48) thread. 👋
It will help us keep track of your progress and contributions during the period. 😄

[2020-08-16 19:46] deprov447 commented on #48
Hello Everyone👋
I am Anubhav Choudhary, 2nd year CSE student from IIIT Bhubaneswar. I have done majority of my work on Fullstack Development. Additionally I am a big fan of automating things and thus I write shell scripts too. Hope I would prove myself helpful to this project and the whole OSS community.

[2020-08-16 19:50] AdityaAshvin commented on #48
Hello, I am Aditya Ashvin, a 2nd year Electronics and Computer Engg student. I have done a few projects using the Django framework and I'm also interested in frontend development. Looking forward to contribute to this project.
[LinkedIn](https://www.linkedin.com/in/aditya-ashvin-a52438197/)
[Personal portfolio](https://adityaashvin.github.io/)

[2020-08-16 19:52] avinashkranjan commented on #48
### Hello Everyone 👋🏻.
I'm  **Avinash Ranjan**, Computer Science Sophomore at CIEM. Looking to work and contribute on this project.

Here's my Social Links(Let's Get Connected): 🔗
👨🏻‍💻  **GitHub**: https://github.com/avinashkranjan
🎓 **Linkedin**: https://www.linkedin.com/in/avinashkranjan

[2020-08-17 03:09] tanay13 commented on #48
Hello everyone i am Tanay Raj , currently pursuing my Btech in Computer Science from VIT vellore . I am in second year . I am a Web Developer but more inclined towards back-end part . Currently i am exploring Image processing and Web automation using python . Looking forward to meet new programmer friends with same interest.
linkedin: https://www.linkedin.com/in/tanay-raj-4761121a1/
Github: https:

[2020-08-17 03:11] tanay13 commented on #59
I would like to work on this

[2020-08-17 04:13] vinitshahdeo opened #65 "[Feature] DNS Record Viewer"
For a given hostname, fetch all the available DNS Records given below:

Record type | Record contains
-- | -- |
'A' | IPv4 addresses (default) |
'AAAA' | IPv6 addresses |
'ANY' | any records |
'CNAME' | canonical name records |
'MX' | mail exchange records |
'NAPTR' | name authority pointer records |
'NS' | name server records |
'PTR' | pointer records |
'SOA' | start of authority records |
'SRV'

[2020-08-17 04:15] vinitshahdeo commented on #65
@Kashish121 / @ishika1727 - Hopefully this is the next issue which you both will be working on. This involves backend as well as frontend work.

[2020-08-17 05:16] Sukran001 commented on #28
But you havent finalized the logo.. Which one should i update?

[2020-08-17 05:49] deprov447 commented on #64
@Kashish121 Can I work on this issue?

[2020-08-17 08:29] vinitshahdeo commented on #28
@Sukran001 This might sound weird but what we've planned is to have all the logo files in our repo as of now, and we will use on a/q to our UI mock ups.

[2020-08-17 09:26] Kashish121 commented on #65
@vinitshahdeo yes will work on this one.

[2020-08-17 09:28] Kashish121 commented on #59
Sure @tanay13 , please go ahead with it. 👍

[2020-08-17 09:44] Kashish121 commented on #64
@deprov447 sure you can.
The Port Scanning feature take 3 inputs as can be seen in the UI - *Host to scan, Low Range, High Range*.

The history column can be like:

| Index | Host scanned | Low | High |
|--------|---------------|-------|------|
|1          |  Google.com |  1      | 8888|
| 2         |  localhost      |   1     | 2000|
| ...        |   ....                |  ....     | ...      |
|

[2020-08-17 12:39] Sukran001 commented on #28
I have added the .ai format of the logos.

[2020-08-17 15:02] deprov447 commented on #64
@Kashish121 Sorry, I am unable to figure out a way to show log details. I have worked with nodeJS and I am unable to work with flask. So kindly unassign me. Sorry

[2020-08-17 15:08] deprov447 opened #69 "Documentation error"
There is a minute error in documentation. Step 5 in How to run(UI) section says the following command `python mainScanner.py` where it should be `python src/mainScanner.py`

[2020-08-17 15:10] deprov447 commented on #69
I would like to work on this @ishika1727

[2020-08-17 15:36] deprov447 opened #70 "[BUG] Duplicate generated ports causing infinite loop"
**Describe the bug**

The random ports generated in `/server/utils/randomNum.js` will have to pass duplicate port numbers to `/server/index.js` when `high - low < countofPorts`. This renders index.js file to enter infinite loop.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to `/`
2. Edit `config.json` for range.high-range.low < count .
3. Open terminal and run `npm start`
4. See error

[2020-08-17 15:38] deprov447 commented on #70
I would like to work on this @vinitshahdeo

[2020-08-17 15:41] NetanMangal commented on #63
@ishika1727 I would like to work on this issue.
I don't know flask. So if I require only little knowledge of flask, I would be more than happy to work on it.

[2020-08-17 16:02] ishika1727 commented on #69
@deprov447 please go ahead 👍 .
Create a PR in `feature/documentation` branch.

[2020-08-17 16:04] ishika1727 commented on #63
@NetanMangal please go ahead 👍
Create a PR by Friday EOD.

[2020-08-17 16:09] vinitshahdeo commented on #70
@deprov447 Nice catch 👍

Please go ahead. Throw an `Invalid Config: (range.high - range.low) should always be greater than count`.

[2020-08-17 16:52] deprov447 commented on #70
@vinitshahdeo By mistake I merged my commit into one of my previous PRs. Please have a look #66

[2020-08-18 06:25] TaniaMalhotra commented on #64
Hii!
I would like to try my hand at this issue.
I am thinking of using a database like MongoDB or SQLite to store the scans and then extract the last 10 records from the database and render that to the front end.
I'm not experienced with Flask either, but I would try my best.

[2020-08-18 06:35] vinitshahdeo commented on #64
@TaniaMalhotra Thanks for showing your interest. Assigning you this issue. Keep your progress posted here.

[2020-08-18 06:46] TaniaMalhotra commented on #48
Hii everyone
I am Tania, a second-year COE student from Thapar Institute of Engineering and Technology. I am a  google WTEF scholar and currently trying my hands at web development. I hope I can make useful contributions to this project.
Let's connect on [LinkedIn](www.linkedin.com/in/tania-malhotra-8b498018b). 😀

[2020-08-18 07:24] deprov447 commented on #69
@ishika1727 Please review the PR #71

[2020-08-19 05:11] PatelKeviin commented on #48
Hi everyone,

I am Kevin, a final year Bachelor of Computer Science student from Deakin University. I am a machine learning enthusiast. I like to build tools in Python that adds some value. I look forward to learn from all in this hackathon. Thanks!

[2020-08-19 05:40] PatelKeviin commented on #48
Hi @Kashish121, @vinitshahdeo,

I see that all python related issues are already assigned to people (which is obvious bcoz I am late to the party). I would like to use this opportunity to let you know that I am very much willing to contribute to this project and let me know if any python-based task is open for grab.

Thank you :)

[2020-08-19 06:44] Kashish121 commented on #48
Hey @PatelKeviin , many more opportunities are on it's way!
Keep an eye :)

[2020-08-19 07:36] #28 closed

[2020-08-19 07:44] Kashish121 opened #72 "[Frontend] Incorporate the new Logo in Port Scanner UI."
Update the new Logo for Port Scanner in the Port Scanner UI.
Find to update - `src/templates/index.html`
LOGO(use the one below) can be found here `assets/raw/logo` in `master`.

![image](https://user-images.githubusercontent.com/56366103/90606517-90d49000-e21d-11ea-89b5-96ef91feb66d.png)

[2020-08-19 07:45] Kashish121 opened #73 "[README.md] Update README.md to incorporate the new Port Scanner logo."
Include the new Port Scanner logo in `README.md`.
Logo(use the one below) can be found here - `assets/raw/logo` in `master`.

![image](https://user-images.githubusercontent.com/56366103/90606615-af3a8b80-e21d-11ea-9df3-9cdabb8a9dfd.png)

[2020-08-19 07:50] KarthikNayak024 commented on #72
Can I add this logo?

[2020-08-19 07:56] Kashish121 commented on #72
@KarthikNayak024 Sure. Create a PR in `develop-ch20` branch.

[2020-08-19 08:04] KarthikNayak024 commented on #72
I am part of **Hakincodes**.

[2020-08-19 08:09] Kashish121 commented on #72
Consider creating PR in`develop` by tomorrow EOD.

[2020-08-19 08:13] KarthikNayak024 commented on #48
I am Karthik Nayak. I am a 4th-year Computer Science Student from N.M.A.M Institute Of Technology, Nitte, Karnataka. I am interested in Front-End development. I like contributing to open source.
My [LinkedIn](https://www.linkedin.com/in/karthik-nayak24)

[2020-08-19 08:14] KarthikNayak024 commented on #72
Where should I update the logo?

[2020-08-19 13:02] GentlemanToad commented on #73
Hi, @Kashish121 I'd like to work on this.

Are we able to convert the .ai file to something usable in markdown? If so, what is the preferred file extension?

[2020-08-19 14:51] Kashish121 commented on #73
@GentlemanToad please go ahead.
Yes, you can convert **.ai** to **.png** and proceed.

[2020-08-19 16:39] NetanMangal commented on #63
@ishika1727 Please check PR #76
Also please add label ch20 to my PR

[2020-08-19 16:45] NetanMangal commented on #7
@vinitshahdeo @ishika1727 @Kashish121
This issue is not resolved as per the latest commits.
I would like to work on this issue. Kindly add label ch20 to this issue and assign it to me. The server started on ports is not shown.

An image has been attached for reference.

![image](https://user-images.githubusercontent.com/51133680/90665223-614b7500-e269-11ea-8f58-8cc10bd38bac.png)

[2020-08-19 16:49] NetanMangal commented on #65
@vinitshahdeo @Kashish121 @ishika1727
I would like to work on backend part of this issue. Kindly assign me this.

[2020-08-20 08:29] GentlemanToad commented on #73
@Kashish121 I have created PR. Please let me know if there needs to be any changes to the styling.

[2020-08-20 08:30] abhishek-pes commented on #73
Hi, @Kashish121 I'd like to work on this.
I have resized the logo and added to the readme.md

[2020-08-20 08:32] abhishek-pes commented on #73
Also i have created a pull request for the same do check it out , and let me know if any changes required

[2020-08-20 12:48] abhishek-pes commented on #72
@Kashish121  i would like to work on this

[2020-08-21 07:49] avinashkranjan commented on #57
I making changes listed below:

-  Updating  **config.json** in root of `feature/python3.8`
-  Adding **multi directory** for the files `init.py & scanner_thread.py`
-  Adding **ipscanner.py** which was main issue.

Pushing changes in `feature/python3.8` have a look

[2020-08-22 15:53] vinitshahdeo opened #82 "[Design] UI Revamp 1.0"
As we've built many features to justify the one-liner description of this project i.e. **a go-to networking tool**, now it's time to revamp the existing UI. Please refer #12 for further information as feature-wise.

### Suggested tool: [Figma](https://www.figma.com/)

![](https://user-images.githubusercontent.com/42978414/84603305-fc5f5180-aeaa-11ea-806c-e2d5a1b7cb4c.png)

![](https://user-images.

[2020-08-24 16:49] TaniaMalhotra commented on #64
Can I make the corresponding changes in Readme and also in feature/python3.8 branch?
@vinitshahdeo @Kashish121

[2020-08-29 12:05] TaniaMalhotra commented on #82
Hii!
Can we have a separate route for post-scanning results b/c the output table disturbs the layout of current index page.
![Screenshot (200)](https://user-images.githubusercontent.com/62426189/91636316-32798f80-ea1d-11ea-8f08-d5cd9100a115.png)

![Screenshot (201)](https://user-images.githubusercontent.com/62426189/91636309-24c40a00-ea1d-11ea-8ab8-5488d9badcf3.png)

[2020-08-29 18:45] Amulya-coder commented on #61
@ishika1727  can I work on this issue.

[2020-08-29 19:05] ishika1727 commented on #61
@Amulya-coder please go ahead 👍
Create a PR by wednesday EOD.
Also,  if you are participants of Hakincodes please introduce yourself in the Welcome to Hakincodes thread. 👋
It will help us keep track of your progress and contributions during the period. 😄

[2020-08-30 09:55] Amulya-coder commented on #61
![BUG2](https://user-images.githubusercontent.com/66437295/91655298-2ea54600-eacd-11ea-8987-41a86d8847f0.png)

[2020-08-30 09:55] Amulya-coder commented on #61
@ishika1727  Can you tell me a little more about what timer you should indicate the red or blue and what you mean by adjust the Timer size its look fine in 217px  Can you through some light on this so that I can understand.

[2020-08-30 11:42] ishika1727 commented on #61
@Amulya-coder  you have to reduce the size of the time shown on the right hand side(time taken to fetch the results). Refer the `README.md` for steps to run the application and reduce the timer size i.e. the seconds and minutes shown

![image](https://user-images.githubusercontent.com/42978414/91658049-b0a06980-eae3-11ea-81f3-b22062aaa3fe.png)

[2020-08-30 15:56] Amulya-coder commented on #61
@ishika1727 thank you for your quick response I got it . I read the README.md and follows each and every steps and install all the dependencies but there is another problem came when I run the python src/scanner.py command in my terminal it will show some error I think something have not done correctly I will also attach the screenshot of this below. Can you please help me out for fixing this.

[2020-08-30 15:56] Amulya-coder commented on #61
![BUG3](https://user-images.githubusercontent.com/66437295/91663603-8365b280-eb07-11ea-8974-538f178ea562.png)

[2020-08-30 21:47] vinitshahdeo commented on #82
@TaniaMalhotra We can go with separate routes but I'm planning to migrate the codebase to React and eventually these issues will go away.

CC: @ishika1727

[2020-08-31 03:48] tanay13 commented on #48
When are the new issues going to open ? @Kashish121 @ishika1727 @vinitshahdeo

[2020-08-31 05:22] Amulya-coder commented on #61
@ishika1727 can you help me out for fixing this error that is shown in the terminal  .

[2020-08-31 06:17] vinitshahdeo commented on #48
@tanay13 We are waiting for #82. Once the new wireframe is ready, we'll open a lot of UI tasks. Thanks for your patience.

[2020-08-31 08:12] ishika1727 commented on #61
@Amulya-coder try running with python2 in master branch

![image](https://user-images.githubusercontent.com/42978414/91698081-c53a3b80-eb8f-11ea-9b60-b853a9236552.png)

[2020-08-31 15:38] Amulya-coder commented on #61
@ishika1727 the Port Scanner runs and it will shows all the open ports in the terminal but the website was not shown in a correct manner when I open in the browser it will displayed like this why?

[2020-08-31 15:38] Amulya-coder commented on #61
![Bug4](https://user-images.githubusercontent.com/66437295/91738457-1cf79780-ebce-11ea-8828-25b414619fc7.png)

[2020-08-31 18:46] ishika1727 commented on #61
@Amulya-coder i ll verify and get back to you.

[2020-09-01 11:29] Kashish121 commented on #61
@Amulya-coder I can see you are directly walking into `src/templates/index.html`.
Follow these steps [here](https://github.com/vinitshahdeo/PortScanner#to-run-port-scanner-via-ui) to run the program locally and enter the url which the program returns _(step 6)._

[2020-09-01 12:15] ishika1727 commented on #61
@Amulya-coder please refer to `feature/frontend` branch rather than the `master` branch and make changes in that only.

[2020-09-01 17:43] Amulya-coder commented on #61
@Kashish121 I follow these steps as you mentioned it will running and returned the URL but when I click on the URL it opens the website in this way

![PIC1](https://user-images.githubusercontent.com/66437295/91887625-a4193e00-eca8-11ea-9814-7f41e1d66268.png)

[2020-09-01 17:46] Amulya-coder commented on #61
It's not showing in the correct way as I want

[2020-09-01 17:49] ishika1727 commented on #61
@Amulya-coder give the following inputs and then start scanning with the scan now button. The timer will be displayed.

Host to scan: localhost
low: 1
high: 20

[2020-09-01 18:04] Amulya-coder commented on #61
@ishika1727 still not shows the timer it will show range and below it time

![PIC3](https://user-images.githubusercontent.com/66437295/91889497-8699a380-ecab-11ea-852b-bbeebfc15541.png)

[2020-09-01 18:06] Amulya-coder commented on #61
@ishika1727 why it is not showing in the way like that it shows in your's.

![PIC2](https://user-images.githubusercontent.com/66437295/91889751-f7d95680-ecab-11ea-99b8-0a127d7f27b3.png)

[2020-09-01 18:46] ishika1727 commented on #61
@Amulya-coder please don't run  `src/templates/index.html` directly.
Follow these steps [here](https://github.com/vinitshahdeo/PortScanner#to-run-port-scanner-via-ui) to run the program locally and then make the changes in frontend files.
The backend and frontend are connected using flask in the `mainscanner.py` that is why directly running it it giving different result.

[2020-09-01 18:58] Kashish121 commented on #61
@Amulya-coder that's because this screen shot is out dated. We have merged new changes few hours ago, I suggest you clone the repository again and try running.
_Also, the timer will appear only during the scanning process. Not before and after._

[2020-09-02 07:56] Amulya-coder commented on #61
@ishika1727  In timer size I have seen directly that it's size is bigger because of not proper font sizing so to adjust it I have to particularly find that file and then make changes in it so what's your suggestions.

[2020-09-04 03:27] madhhuurrii commented on #62
Hii, can i work on this issue @Kashish121 @ishika1727

[2020-09-04 09:22] ishika1727 commented on #62
@madhhuurrii please go ahead 👍 . Create a PR by Sunday EOD.
Also, if you are participant of Hakincodes please introduce yourself in the Welcome to Hakincodes thread. #48 👋
It will help us keep track of your progress and contributions during the period. 😄

[2020-09-04 09:53] madhhuurrii commented on #48
Hii everyone , I am Madhuri Ramakrishnan currently a sophomore studying Informationtechnology , i am inetersted in frontend development. This is my first time contributing in opensource project
Looking forward to more contribution and networking

[2020-09-04 12:35] madhhuurrii commented on #62
Hii, does this contribution would count in Hackincodes?
@ishika1727

[2020-09-23 20:20] nihalbaig0 opened #90 "[BUG] scanner.py config.json file path error in python 3"
**Describe the bug**
In feature/python3.8 the scanner.py config.json location is giving error.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'feature/python3.8' in '/src/single/' folder
2. Run the scanner.py

**Expected behavior**
It should give the open ports. But it gives error 'file not found'

[2020-09-23 20:25] nihalbaig0 commented on #90
I accidently assingneed it to vinitshahdeo. I want to work on it.

[2020-09-23 20:28] Kashish121 commented on #90
@nihalbaig0 work on it then. :)

[2020-09-28 05:40] madhhuurrii commented on #73
Hii @vinitshahdeo can u please assign me this issue?

[2020-09-30 17:08] div-bargali commented on #73
Hi, can I work on this issue?

[2020-10-01 09:40] nihalbaig0 commented on #90
I fixed the issue . Please have a look  in #91  @vinitshahdeo

[2020-10-01 21:58] Octateam commented on #82
Hello, I would like do design a new UI for this project

[2020-10-02 05:14] Amulya-coder commented on #61
@Kashish121 can I make the PR for hacktoberfest.

[2020-10-02 09:03] Amulya-coder commented on #61
@vinitshahdeo @Kashish121 I have made the PR .Can you please verify and merge it.

[2020-10-03 03:52] Amulya-coder commented on #61
@vinitshahdeo I have made the required changes please review it . Thanks.

Timer Adjusted #100

[2020-10-03 18:35] saisiddhant12 commented on #11
@Kashish121 @vinitshahdeo can you mark this issue as closed?

[2020-10-03 19:36] avinashkranjan commented on #57
@Kashish121 I have created a PR for the same if you could have a look [here](https://github.com/vinitshahdeo/PortScanner/pull/80)

[2020-10-04 16:39] ishika1727 commented on #82
@Octateam Please go ahead! Also tell us a date by when you can propose a new UI ?

[2020-10-06 16:08] ShivanshSri-droid commented on #90
Hey I am to new to this. Can anyone help me with all of this?

[2020-10-07 23:16] Octateam commented on #82
Ok great, I will get you a design before the week is over @ishika1727

[2020-10-08 11:33] Octateam commented on #82
See what i could come up with @ishika1727 . I decided not to have a side navigation because there isn't enough content that requires the use of a side and i saw it could comfortably fit in the header so i put it there. I hope this works for you. I also created a kinda scanner type of logo seeing it currently has no logo ;)

![Screenshot (45)](https://user-images.githubusercontent.com/30428398/9545

[2020-10-08 14:41] vinitshahdeo commented on #82
@Octateam Wow, this looks great. Good job 👏

CC: @Kashish121

[2020-10-08 16:38] Octateam commented on #82
Thanks, I hope you guys implement it 😊

[2020-10-19 12:54] coderj001 opened #105 "Is their any particular reason why this project sticks with python version 2?"

[2020-10-19 14:17] vinitshahdeo commented on #105
@coderj001 Not really, we have a separate branch for `python3`.

[2020-10-20 12:10] #105 closed

[2020-10-21 19:06] Darknez07 opened #110 "After jan2020 python2 is suspended"
**Describe the bug**
The code base need to be shifted to python3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'System with python3 support and configured path with python 3'
2.Go to folder 'src'
3. Scroll down to 'main ip scanne.py file'
4. Run python the filename
5. See the error for print statements

**Expected behavior**
successful run for python3

**Screenshots**
If applicable,

[2020-10-22 10:25] vinitshahdeo commented on #110
@Kashish121 Please look into this.

[2020-10-26 04:52] kshsh00 commented on #110
can i be assigned??

[2020-11-29 09:42] Devansh252 commented on #72
Is this issue is still open?

[2020-12-30 16:45] vardaan-raj commented on #73
Hello! I would like to contribute. Can I?

[2021-01-02 07:26] rsrkpatwari1234 commented on #110
@vinitshahdeo can you please assign this issue to me under SWOC?

[2021-01-10 02:45] pratheekcr commented on #72
Hi, I would like to contribute to this ticket. Can I work on this please?

[2021-01-19 09:57] abhis9427 commented on #55
can you please assign this issue to me under JWOC

[2021-01-23 10:40] Vinamrata1086 opened #115 "Error in scanner.py for python-3.8 (JWOC)"
[scanner.py](https://github.com/vinitshahdeo/PortScanner/blob/feature/python3.8/src/single/scanner.py)

* https://github.com/vinitshahdeo/PortScanner/blob/306d91d5dac999c3b1fa531584854d787b2fec1e/src/single/scanner.py#L33

![image](https://user-images.githubusercontent.com/59366156/105575763-e9432700-5d93-11eb-9626-12c7654a65f7.png)
The low and high range is not mentioned which is low=1 and high=8

[2021-01-28 16:52] vinitshahdeo commented on #115
@Kashish121 Can you please verify the above and work with @Vinamrata1086 for the changes, if required.

[2021-01-29 07:49] Kashish121 commented on #115
@Vinamrata1086 That's probably due to change in the directory structure of the code. Try moving `config.json` to the same folder as `scanner.py`.

[2021-01-29 09:38] Vinamrata1086 commented on #115
ya it worked

so can I change the directory of config and create pr?

[2021-01-29 15:25] Kashish121 commented on #115
Hey @Vinamrata1086 , this is the standard organized directory structure followed in the project. Instead of changing the directory structure, try adding `config.json` actual path to the code. Wouldn't it be smarter? ;)

You may create a PR for this. 👍🏽

[2021-01-29 19:07] Vinamrata1086 commented on #115
I have added the path.

[2021-01-30 14:47] qw-erty commented on #25
I will like to work on this ...... I am a paticipant in swoc

[2021-01-30 16:20] Kashish121 commented on #25
Hey @qw-erty , it seems this issue has been solved( view #29  ). Have a look at other issues you can help with. Or feel free to open an issue if required.

[2021-02-25 05:55] Meenasirisha commented on #11
Hi! I'm a first timer trying to contribute to open source. I would like to work on this

[2021-02-25 05:57] Meenasirisha commented on #11
So this is issue closed?

[2021-03-08 15:02] pallavidhere23 commented on #90
I am GSSOC'2021 participant can u please assign me this issue.

[2021-03-08 15:52] Kashish121 commented on #90
Hey @pallavidhere23 @ShivanshSri-droid ,
it seems this issue was already resolved (look #91).
You guys can try and work on any other issue [here](https://github.com/vinitshahdeo/PortScanner/issues) or wait for new issues which will be opened super soon 😃 .

Also, @ShivanshSri-droid do checkout #91 to understand what was to be done, if still doubtful feel free to ping again. :)

[2021-03-08 16:02] saaalik commented on #62
I am a gssoc participant starting off with a simple documentation PR, please do review the new doc, thank you

[2021-03-08 16:11] pallavidhere23 commented on #72
I am participant @GSSOC'2021 can u please assign this issue to me.

[2021-03-08 16:30] Kashish121 commented on #72
@pallavidhere23 Yes sure, go ahead. Consider creating PR in `develop` branch.

[2021-03-08 19:04] ishika1727 opened #120 "Timer Component in React"
As we've built many features to justify the one-liner description of this project i.e. a go-to networking tool, now it's time to revamp the existing UI.

Add a new component `Timer.js` which will be enabled once the user starts scanning( scan button is clicked).  Refer the image attached below for design.

_As of now, create a button `Timer` in the `Timer.js` component along with the timer. The ti

[2021-03-08 19:04] ishika1727 opened #121 "Port Scanner Form Component in React"
As we've built many features to justify the one-liner description of this project i.e. a go-to networking tool, now it's time to revamp the existing UI.

Add a new component `PortScannerForm.js` which will take inputs for:

- host to scan
- lower range of ports
- upper range of ports

This component should also have a button called `SCAN`. The scanning for open ports will start on clicking this bu

[2021-03-09 04:02] bug-debug-done commented on #120
I would like to work on it can you please assign it to me

[2021-03-09 05:12] vinitshahdeo opened #122 "Add FAQs for GSSoC"
As this project is shortlisted to accept contributions under [GSSoC](https://railsgirlssummerofcode.org/), it'll be a great idea to include a dedicated FAQ section for GSSoC in `README.md`

- **Check out the project [here](https://github.com/vinitshahdeo/PortScanner).**
- **Check [this](https://gssoc.girlscript.tech/) for more info.**

[2021-03-09 05:27] Erzmafia commented on #122
Can I work on this.

[2021-03-09 06:33] jhamadhav commented on #122
It seems interesting, I would love to work on it; can you assign me this ?

[2021-03-09 06:37] devRawnie commented on #121
I would like to work on this. Please assign this to me.

[2021-03-09 06:40] subhangi2731 commented on #121
can you please assign it to me?

[2021-03-09 06:42] subhangi2731 commented on #7
can you please assign it to me?

[2021-03-09 06:43] subhangi2731 commented on #1
can you please assign it to me?

[2021-03-09 08:52] SavneetKaur01 commented on #122
I would love to work on this issue. I am a GSSOC'21 participant and I would provide you with the best possible code. Looking forward to contribute here.

[2021-03-09 09:25] vinitshahdeo commented on #121
Hello guys,
The branch will be merged soon. Review is still `in-progress`. Post that we'll assign the issues.

[2021-03-09 09:28] vinitshahdeo opened #123 "Enable dark mode"
Having a toggle button on UI to switch to **dark & light theme** will be a great idea.

@ishika1727 can you please expand more on this in the comments section?

[2021-03-09 09:50] Anuradha0501 commented on #122
I would like to work on this issue as a participant of GSSOC 20201 . Please could u assign me

[2021-03-09 11:44] Siddharth1006 commented on #120
I am interested in this issue! I want to work on it! If you can, assign this issue to me

[2021-03-09 11:46] srisatya1197 commented on #123
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 15:36] nNikita1018 commented on #123
I want to take part in this project and work with this issue .please assign me.

[2021-03-09 16:18] manastole03 commented on #123
Thanks a lot for this @Kashish121  :)

[2021-03-09 16:30] Kashish121 opened #124 "[DOCUMENTATION] Analyze the efficiency of multithreading."
Performance of the tool port scanner is recorded in the README.md section [here](https://github.com/vinitshahdeo/PortScanner#performance-on-the-basis-of-number-of-threads-chart_with_downwards_trend). The table created holds the statistical numbers for Windows OS. Let's see if the results corelate for other OS(s).

Tabulate the performance and have a corresponding pictorial representation for perfo

[2021-03-09 17:32] Kashish121 opened #125 "[BACKEND/FEATURE REQUEST] Moving the backend from flask to Django."
The project currently stands on `Python + Flask` tech stack. Now it's time to move the tech stack to `Python + Django`.

The file [mainScanner.py](https://github.com/vinitshahdeo/PortScanner/blob/develop/src/mainScanner.py) renders the output of the working code in frontend through flask. Replace this file to a new file which works for the current scanning processes and renders the output through

[2021-03-09 19:59] palrohitg commented on #125
@Kashish121
As I noted that PortScanner team looking forwards to scaling there application to Django.
In that case I like to create a basic infra. for portscanner in Django that will be helpful for the developer to work on separate(module) features and easy to maintain the application with little effort. I would be like to work on this issue.

[2021-03-10 05:14] PragatiBhat commented on #122
Can you please assign me this add faqs task(Participant of GSSOC 2021)?

[2021-03-10 06:25] Siddharth1006 commented on #122
@vinitshahdeo I am ready to learn and contribute to any issue. I am a GSSOC 21 participant.

[2021-03-10 06:27] Siddharth1006 commented on #124
I am GSSOC'21 participant. Can you assign this to me?

[2021-03-10 09:48] saaalik commented on #124
I am interested in working on this project, I know tit bits of threading but would love to deep dive into into a project using threading and create a performance database of the the portscanner on Linux OS
Distribution - Ubuntu
Version - 18.04.5 LTS (Bionic Beaver)
Can you assign me this project?
(gssoc'21 participant)

[2021-03-10 09:52] Pratibha-Rawat commented on #122
Hey! Can I work on this issue? I am a GSSOC'21 participant.

[2021-03-10 14:41] SSHREYA71 commented on #62
I am a GSSoc participant. please assign this to me, I would like to make my contribution

[2021-03-10 16:51] themadhavdihora opened #126 "[FEATURE REQUEST]"
**Is your feature request related to a problem? Please describe.**
I think that with this scanner we should have a simple CLI based editor and Text Based Browser for accessing utilities and internet features.

**Describe the solution you'd like**
We can use Linux Command Line Plug-in for that.

[2021-03-10 18:31] jaiongit opened #127 "Error on running the Flask UI with Python 3"
While working with Python 3 (version 3.9.1 on my local machine) and checking out to `feature/python3.8` branch the following error occurs when trying to run the Flask UI:
[code]
I am assuming this is caused due to using more recent Python 3 version than the one specified in README.md.

Mentioning @Kashish121 as stated by @vinitshahdeo.

Originally this issue was discussed [here](https://github.com

[2021-03-11 04:39] Prachi-singhal15 commented on #124
I am a participant of GSSOC'21. I would really like to work on this issue.

[2021-03-11 04:40] Prachi-singhal15 commented on #122
As a particpant of GSSOC '21 I would like to like to contribute to this issue.

[2021-03-11 07:54] rebs-becca15 commented on #122
Hello Sir,

I can work on this issue. I am a participant for GSSoC'21 and a content writer by passion. I can help you in drafting the questions related to this program.
I am really looking forward to making my first contribution to this program.

[2021-03-11 08:06] iamsonukushwaha opened #128 "syntax error in python files"
**Describe the bug**
there are syntax errors in all the python files of **src/** directory

**Screenshots**
![image](https://user-images.githubusercontent.com/51280276/110755219-b7682000-826e-11eb-8348-9e9ee12771e7.png)

[2021-03-11 08:20] iamsonukushwaha opened #129 "clear in supported in many terminal"
**Describe the bug**
the command **clear** is not supporting on many terminal but **cls** can support on almost every terminal

**Error**
![image](https://user-images.githubusercontent.com/51280276/110756319-0d899300-8270-11eb-8691-e645d7291fcd.png)

**Should be like this**
![image](https://user-images.githubusercontent.com/51280276/110756498-4b86b700-8270-11eb-9ecb-178e61012c38.png)

**Expected b

[2021-03-11 08:24] iamsonukushwaha opened #130 "No module named '__builtin__'"
**Describe the bug**

![image](https://user-images.githubusercontent.com/51280276/110757121-07e07d00-8271-11eb-8898-1a49820d1e96.png)

**To Reproduce**
![image](https://user-images.githubusercontent.com/51280276/110757232-2ba3c300-8271-11eb-84e1-97ef1682bfc3.png)

[2021-03-11 08:41] iamsonukushwaha opened #131 "image source url is not available"
**Describe the bug**
image source url is not available in **src/templates/index.html**

![image](https://user-images.githubusercontent.com/51280276/110757932-f0ee5a80-8271-11eb-8678-c0c32fc67c86.png)

**changes**
adding this image

![image](https://user-images.githubusercontent.com/51280276/110759236-660e5f80-8273-11eb-8ba5-35f5cdd13cc6.png)

**Expected behavior**

![image](https://user-images.git

[2021-03-11 08:51] ranaaditya commented on #130
Hi @flyingsonu122 , can you please share your python version of your local system?

Mostly this error comes when you use python 3+, as main branch is compatible with python 2.7.

can you try [python 3.8](https://github.com/vinitshahdeo/PortScanner/tree/feature/python3.8) branch for python 3+ versions.

Soon we will migrate main branch to python3.8+

thanks !

[2021-03-11 09:32] flyingsonu122 commented on #130
I am using python 3.8

Definitely we should migrate it to python 3.8

[2021-03-11 09:33] flyingsonu122 commented on #130
I will create a PR for the same

[2021-03-11 14:15] feni-katharotiya commented on #122
@vinitshahdeo Hello, I am gssoc participant and would like to work on this issue.

[2021-03-11 14:17] feni-katharotiya commented on #125
@Kashish121 Hello, I am gssoc participant and would like to work on this issue.

[2021-03-11 17:38] Kashish121 opened #133 "[BACKEND/FEATURE REQUEST] Detection and protection from malicious content - Imp hash."
Hostile, intrusive, and intentionally nasty, malware seeks to invade, damage, or disable computers, computer systems, networks, tablets, and mobile devices. Malware detection and prevention is one of the most concerned features of [endpoint security](https://www.forcepoint.com/cyber-edu/endpoint-security).

One possible way of pulling off this feature is using imphash. Imp Hash can be used for sig

[2021-03-11 18:31] iamsonukushwaha opened #134 "add GitHub action to request review of PR"
**Is your feature request related to a problem? Please describe.**
please add a GitHub action to request review of PR from maintainers

**Describe the solution you'd like**
we can set up GitHub action bot which will request review of PR from maintainers when a PR is created

[2021-03-11 19:46] nitish-awasthi opened #135 "[BUG] Create "About" Page."
Create the **About Page** which must contain all the basic details of this project like _"Working","Features", "Developer details_" etc.
Please go through [README.md](https://github.com/vinitshahdeo/PortScanner) and links mentioned below for the instructions and help:-
[GO-GREEN featuring GITHUB](https://medium.com/@kashish_121/go-green-featuring-github-f8750fbf0729)
[git push: You just need a lit

[2021-03-11 19:59] nitish-awasthi commented on #128
@flyingsonu122 The print statement syntax is valid for python 2.7 for python 3.x check out feature/python 3.8 branch.

[2021-03-11 20:08] flyingsonu122 commented on #135
@nitish-awasthi @vinitshahdeo  I can do it

please assign it to me

[2021-03-11 20:24] flyingsonu122 commented on #128
we need to

we should migrate default branch to python3.8+

[2021-03-11 20:28] flyingsonu122 commented on #128
@vinitshahdeo everyone (who are working first time on this project) is having problem with this default branch supporting  for python 2.7

we should **migrate default branch to python3.8+**

[2021-03-11 20:33] nitish-awasthi commented on #128
@Kashish121 Please look into this!

[2021-03-11 20:43] iamsonukushwaha opened #136 "empty input value crashes website"
**Describe the bug**

pressing **scan now** with empty input value crashes website

![image](https://user-images.githubusercontent.com/51280276/110851513-25e0c880-82d7-11eb-84aa-ffa307e8080c.png)

**Expected changes**
we need to put **required** in the input field

<br/>

![image](https://user-images.githubusercontent.com/51280276/110851380-f5992a00-82d6-11eb-9dfa-40fa37c263b5.png)

**Expected beh

[2021-03-11 21:05] flyingsonu122 commented on #128
@vinitshahdeo @ishika1727  please have a look

[2021-03-12 05:05] vinitshahdeo commented on #136
@flyingsonu122 Thanks for reporting this. Adding `gssoc21` label to it.

[2021-03-12 05:07] vinitshahdeo commented on #133
@Kashish121 This is a great idea. 👀

[2021-03-12 05:08] flyingsonu122 commented on #136
@vinitshahdeo please look all my PRs

[2021-03-12 05:15] vinitshahdeo commented on #122
Hello everyone, thanks for your interest. 🤗

I kept this issue for **absolute beginners** and would like to assign this to @feni-katharotiya.
**Expecting a PR by Saturday EOD**. If not then @rebs-becca15 you can work on the same.

[2021-03-12 05:17] vinitshahdeo commented on #121
@ishika1727 I have merged the PR. You can assign this issue with a story point of not more than 3 days.

[2021-03-12 05:38] flyingsonu122 commented on #136
@vinitshahdeo #138 is the PR for the same

[2021-03-12 05:40] nitish-awasthi commented on #135
@flyingsonu122 Thanks for creating the PR.
But it is requested to kindly wait for the team to assign you the issue.
Kindly do not raise the PR before the assignment.

[2021-03-12 05:42] flyingsonu122 commented on #135
Alright, thank you

[2021-03-12 05:53] Sibasish-Padhy commented on #124
I am a participant of gssoc 21.I would really like to work on this issue.Can u assign me with it??

[2021-03-12 05:56] Sibasish-Padhy commented on #62
I am a GSsoc participant,please assign this to me.I would like to make my contribution

[2021-03-12 07:54] jaiongit commented on #127
I've discovered that this issue occurs when someone first tries to run the CLI through Python2. This results in creation of Python2 `*.pyc` files on the local machine. After this if the those files are not deleted and on running Flask UI through Python3 (which uses old Python2 `*.pyc` file), we get the above error. This issue will be fixed if those files are deleted before running the Flask UI thr

[2021-03-12 13:31] ranaaditya commented on #65
Hi @NetanMangal , this issue has been resolved and merged [here](https://github.com/vinitshahdeo/PortScanner/pull/84) and [this file] (https://github.com/vinitshahdeo/PortScanner/blob/develop/src/dnsRecord.py) is for this feature.

You can still find bugs / errors in this file / feature and report a new issue or extend its functionality and send a PR for this.

thanks,
Network Scanner team.

[2021-03-12 13:41] rohank2502 opened #140 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:37] rohank2502 commented on #140
Should i go with it or not ? @vinitshahdeo

[2021-03-12 16:33] Kashish121 commented on #127
@jaiongit I came across this explanation while looking for error you mentioned.
Thanks for putting it up here. 💯

Hope the issue is resolved.

[2021-03-12 16:37] Kashish121 commented on #124
@Siddharth1006 Go ahead and create a PR before Sunday EOD. Also, before you start working on it, mention the OS you'll be analyzing performance on, in this issue thread.

[2021-03-12 16:42] Kashish121 commented on #128
@flyingsonu122 @nitish-awasthi  we'll be switching from *python2.x* to *python3.x* for the `master` branch pretty soon.

[2021-03-12 16:44] ranaaditya commented on #128
Yeah, I am working on it, soon it will be merged in master.

[2021-03-12 17:11] flyingsonu122 commented on #128
@ranaaditya you can see my PR #132 which fixes this and other issues as well

[2021-03-12 17:17] ishika1727 commented on #121
@devRawnie Please go ahead with the issue and create a PR in `feature/react` branch by Monday EOD.

Feel free to contact me anytime

[2021-03-12 17:20] ishika1727 commented on #120
@bug-debug-done  Please go ahead and create a PR in `feature/react` branch by Monday EOD.

Feel free to contact me anytime.

[2021-03-12 17:26] itsIapetus opened #141 "Add Welcome Bot"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to add a welcome bot for new pull requests and new issues, etc.
Kindly assign it to me.
Thank you

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've

[2021-03-12 17:27] #141 closed

[2021-03-12 17:28] itsIapetus commented on #134
I would like to work on this under GSSOC

[2021-03-12 17:31] flyingsonu122 commented on #134
how are you going to do it?

[2021-03-12 18:12] Siddharth1006 commented on #124
I will be using Linux.

[2021-03-12 18:37] vinitshahdeo commented on #140
@rohank2502 Yes, please go ahead. Previously we had **Hall of fame** by [sourcerer.io](https://sourcerer.io/), unfortunately it got deprecated.

[2021-03-12 18:37] vinitshahdeo commented on #140
@rohank2502 Yes, please go ahead. Previously we had **Hall of fame** by [sourcerer.io](https://sourcerer.io/), unfortunately it got deprecated.

[2021-03-12 19:27] flyingsonu122 commented on #135
@Kashish121 @vinitshahdeo added a new PR #142

please look into it

[2021-03-13 05:25] itsIapetus commented on #134
Using auto request review

[2021-03-13 07:05] jaiongit commented on #127
@Kashish121 So, should this issue be closed? Or we need to delete `.pyc` files automatically (if possible).
I think if that's not possible we should mention this in the README.

[2021-03-13 07:05] flyingsonu122 commented on #134
I am already working on it

[2021-03-13 07:11] jaiongit commented on #125
I would like to work regarding this.

[2021-03-13 07:51] flyingsonu122 commented on #134
@vinitshahdeo @Kashish121 @ishika1727 please assign it to me

[2021-03-13 11:33] nandikajain opened #146 "Fix Errors in src/scanner.py"
**Describe the bug**
While running the Python file, encountered an issue in Python syntax.

**Screenshots**
<img width="543" alt="issue1" src="https://user-images.githubusercontent.com/55681290/111028648-e8d31e00-841d-11eb-9f26-13d79d9e12a4.PNG">

[2021-03-13 11:39] nandikajain opened #147 "Adding Hall of Fame in README.md"
Adding Hall of Hame in README.md
Github for Hall of Fame repo: https://github.com/sourcerer-io/hall-of-fame
<img width="530" alt="2" src="https://user-images.githubusercontent.com/55681290/111028775-cd1c4780-841e-11eb-953e-344c5666be37.PNG">

[2021-03-13 11:44] nandikajain opened #148 "Making a requirements.txt to install all dependencies"
Right now, in order to run the project, there are multiple dependencies that need to be installed.
Making a requirements.txt file and install requirement.txt through command line, instead of installing each dependency is more convenient and can be installed through. This way even when new dependencies are added, there will be no need to update REAME or any other file and all the dependencies can b

[2021-03-13 11:47] nandikajain opened #149 "Making a Makefile to run the project"
A Makefile can be made which contains all the instructions to run the project.
All the commands to run the project can be mentioned in the Makefile and can run the project with a single command.
Dependency : `make`

[2021-03-13 15:39] Kashish121 commented on #134
@flyingsonu122 Please DO NOT CREATE A PR before you are assigned the work.

[2021-03-13 15:41] Kashish121 commented on #125
@palrohitg Please go ahead with it ! Create a PR by Monday EOD.

@feni-katharotiya @jaiongit You will be assigned this issue if @palrohitg fails to do so within the time period.

[2021-03-13 15:52] Kashish121 opened #150 "[BUG] .pyc files needs to be deleted before running this project."
An issue occurs when you first try to run the CLI through Python2. This results in creation of Python2 `*.pyc` files on the local machine. After this if the those files are not deleted and on running Flask UI through Python3 (which uses old Python2 *.pyc file), we get the above error.

`*.pyc` files interfere with normal working of the project.

This issue can be solved by deleting the `*.pyc` fil

[2021-03-13 15:53] Kashish121 commented on #127
Raised an issue #150 , keeping this issue open for future references.

[2021-03-13 15:58] Kashish121 commented on #146
@nandikajain This happened because the `master` branch python files are in *python2.x* and not *python3.x*.
Checkout `feature/python3.8` branch for corresponding *python3.x* version.

[2021-03-13 16:05] devRawnie commented on #121
Sure thing. I am on it

[2021-03-13 17:06] vinitshahdeo commented on #147
@nandikajain Hey, I guess Hall Of Fame is now deprecated.

[2021-03-13 17:59] palrohitg commented on #150
@Kashish121 Currently on working on that too.

[2021-03-13 18:01] palrohitg commented on #148
@nandikajain  All most done generating the PR Soon.

[2021-03-13 18:08] Kashish121 commented on #150
@palrohitg assigning it to you. Submit the corresponding PR by tomorrow EOD.

[2021-03-13 18:48] palrohitg opened #151 "Image not display on landing Page(Missing src parameter of Image)"
In index.html image tag had empty src  target.
[code]
![image](https://user-images.githubusercontent.com/40069230/111040752-9cf29a00-845a-11eb-9495-a905e0c7e06e.png)
It would be great if you provide the image for the same.
@vinitshahdeo  @Kashish121

[2021-03-13 19:19] palrohitg opened #152 "[BUG]"
**Describe the bug**
Undefined variable 'new.py' branch features/python3.8 branch

**To Reproduce**
Steps to reproduce the behavior:
1. Just check out the scanner.py you find about the new keyword is not defined.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/40069230/111041544-a4b43d80-845e

[2021-03-13 19:28] palrohitg commented on #148
@Kashish121  @vinitshahdeo  @nandikajain  Just a Quick status from my side.
I had added the requirement.txt for portscanner. The app is up and running perfectly. Just added some img for the same.
![image](https://user-images.githubusercontent.com/40069230/111041817-2eb0d600-8460-11eb-8d9d-258b058f5558.png)
![image](https://user-images.githubusercontent.com/40069230/111041824-40927900-8460-11eb-9ea

[2021-03-13 20:08] palrohitg commented on #150
@Kashish121 I generated the PR #148 and their is no issue while running the flask server for branch features/python3.8 I am using the python3.8 to run the server.
For this issue  I need to do checkout what the issue is actually while using python2 and then discussion on further.
But I think this is not the potential bug  for branch features/python3.8 because  it clearly mention this branch is for

[2021-03-13 20:35] vinitshahdeo commented on #151
@ishika1727 Can you please share the logo with @palrohitg?

[2021-03-14 04:41] palrohitg commented on #150
@Kashish121 I checkout in my local environment once you had python virutalenv activated then there is no issue.
It pretty sure, if you are working with python3 env but trying to run the server will be some package which is deprected by python2

![image](https://user-images.githubusercontent.com/40069230/111057437-8fb2cb00-84ad-11eb-96fe-3d9520425508.png)

[2021-03-14 12:48] khareyash05 opened #154 "update contributing .md"
Hey! I would like to add the following in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on it as a part of GSSOC'21

[2021-03-14 15:56] devRawnie commented on #121
Can I use reactstrap library to style the input fields?

[2021-03-14 17:34] Kashish121 commented on #150
So, this happens for users who use *python2.x* and *python3.x* without a virtual environment setup.

It would still be preferable to remove all the `*.pyc` files generated during/after execution.
@palrohitg you can move forward with writing a piece of code for the same.

*Avoiding any possible scope of bug would be a better decision for now.*

[2021-03-14 22:50] ishika1727 commented on #151
Hey @palrohitg !

You can find the logo in `master` branch in the `assets/raw/logo`. Also attaching an image for reference.

![image](https://user-images.githubusercontent.com/42978414/111087126-c89e7e80-8545-11eb-93d3-a5a0975c5ed1.png)

[2021-03-14 22:52] ishika1727 commented on #123
@manastole03, could you please share the updates as of now!

[2021-03-14 22:53] ishika1727 commented on #121
@devRawnie yes, please go ahead, but try to keep it as simple as possible as we will be merging all components together after they have been made.

[2021-03-14 22:58] ishika1727 opened #155 "History component in React"
As we've built many features to justify the one-liner description of this project i.e. a go-to networking tool, now it's time to revamp the existing UI.

Add a new component `History.js` which will display the details of last 10 scans.  Refer the image attached below for design.

_As of now, create the `History.js` which takes its data of last 10 scans from a json file `scans.json`(create a json f

[2021-03-14 23:02] ishika1727 opened #156 "Search Results component in React"
As we've built many features to justify the one-liner description of this project i.e. a go-to networking tool, now it's time to revamp the existing UI.

Add a new component `Results.js` which willdisplay the result of the current scan.  Refer the image attached below for design.

_As of now, create `Results.js` which takes input from  `results.json`(create a json file with hardcoded results) and

[2021-03-15 03:04] manastole03 commented on #123
I completed my coding part.

@ishika1727

[2021-03-15 03:05] nitish-awasthi commented on #155
@ishika1727 Please also add `level3` badge here.

[2021-03-15 03:08] nitish-awasthi commented on #156
kindly add `level3` label here too. @ishika1727

[2021-03-15 04:46] palrohitg commented on #151
@ishika1727 Could you assign the so I can generate the PR ?

[2021-03-15 05:11] palrohitg commented on #125
@Kashish121 Status: currently setup the local dev for django. Facing some issue with while running the server. Hope I will generate the PR soon. Could you please some other PR that I had generated meanwhile.

[2021-03-15 05:59] devRawnie commented on #121
How do I add reviewers in the pull request, I couldn't figure it out while creating the pull request.

[2021-03-15 06:37] Srijan205 commented on #151
I want to solve this issue as a participant of GSSOC'21

[2021-03-15 08:44] ishika1727 commented on #121
I ll add the reviewers, no issues

[2021-03-15 08:47] ishika1727 commented on #123
@manastole03 please create a PR in `frontend/react` branch by EOD. Also attach a screenshot of the UI/UX in the comment section of the PR

[2021-03-15 08:50] bug-debug-done commented on #120
@ishika1727 can I please get 2 more days

[2021-03-15 08:51] ishika1727 commented on #151
@palrohitg assigned you the issue. Please go ahead with the PR in `feature/frontend` branch.

[2021-03-15 08:54] ishika1727 commented on #120
@bug-debug-done please try to create a PR asap(max by wednesday EOD).

[2021-03-15 08:56] bug-debug-done commented on #120
done

[2021-03-15 09:06] manastole03 commented on #123
sure @ishika1727

[2021-03-15 09:12] palrohitg commented on #151
@ishika1727 actually the issue is related to feature/python3.8

[2021-03-15 10:25] ishika1727 commented on #151
@Kashish121 pls verify if this issue is for `feature/python3.8`

[2021-03-15 10:28] ishika1727 commented on #62
@SSHREYA71 please go ahead with the issue. Create a PR by Tuesday EOD.

Feel free to contact me anytime .

[2021-03-15 13:22] SSHREYA71 commented on #62
Thank you so much :)

[2021-03-15 17:16] ishika1727 commented on #121
@devRawnie Merged your PR into `feature/react` branch. Amazing work. Please go through the other open issues as well and contribute more to this project

[2021-03-15 17:22] palrohitg commented on #151
@vinitshahdeo I am not able to get how can i generate a new PR for this issue. I will redirect me to the other PR that already generated but not merge it. showing it will get merge automatically.
![image](https://user-images.githubusercontent.com/40069230/111194368-23d17f00-85e1-11eb-9c2c-5dac3a8612a3.png)

[2021-03-15 17:49] Kashish121 commented on #152
Thank you @palrohitg for identifying this bug. 💯
This is a small error which can be resolved by changing
`absolute_path = os.path.join(new, *split_path)`
to
`absolute_path = os.path.join(dir, *split_path)`.

Create a PR for the same.

[2021-03-15 17:52] Kashish121 commented on #150
@palrohitg , checking for status of work here?

[2021-03-15 17:59] jaiongit commented on #150
@Kashish121 What I'm thinking for this issue is that instead of deleting those generated `*.pyc files` we should prevent their generation in the first place.

[2021-03-15 18:13] Kashish121 commented on #150
Please expand on this.

[2021-03-15 18:17] jaiongit commented on #150
We can set `dont_write_bytecode' of 'sys' module` to `True`. I can create a PR for the same.

[2021-03-15 18:21] Kashish121 commented on #150
Sure! go ahead. 👍🏽

[2021-03-15 20:19] Kashish121 opened #160 "Create "Contacts" page."
While running PortScanner through UI, the below page will be displayed.
In the sidebar, **contacts** and **about** pages are not yet built.

Build a `contact.html` page for the same. Details of contributors/admin (as listed in `README.md`) and GitHub repository link can be added in `contact.html`.

*For `about.html` see this issue -> #135*

![image](https://user-images.githubusercontent.com/563661

[2021-03-16 01:23] jeenashetti commented on #160
Hi could I work on this?

[2021-03-16 10:20] palrohitg commented on #152
@Kashish121 done generated.

[2021-03-16 11:18] bug-debug-done commented on #120
Hey the setup keeps on breaking on my pc

[2021-03-16 11:21] ishika1727 commented on #120
@bug-debug-done please elaborate which setup?

P.S: The code is present on `feature/react` branch.

[2021-03-16 11:36] bug-debug-done commented on #120
The setup works fine on windows but not on ubuntu

[2021-03-16 12:26] devRawnie commented on #155
Hi, I am a GSSOC'21 Participant and I would like to work on this. Please assign it to me

[2021-03-16 13:27] vinitshahdeo commented on #122
Assigning to @rebs-becca15 as there're no actions from @feni-katharotiya

[2021-03-16 14:42] ishika1727 opened #162 "UI/UX for IPScanner"
Create a UI for IP scanner feature of the project. Refer to the image attached below for existing UI.

P.S: The UI for IP Scanner should be similar to UI for port scanner.

![image](https://user-images.githubusercontent.com/42978414/111328107-f5f94280-8693-11eb-99cc-bcea829cc6e7.png)

[2021-03-16 17:15] Kashish121 commented on #151
@palrohitg you can create a new branch in your fork `palrohitg/PortScanner` and then push your commits there and create a PR.

[2021-03-16 17:22] Kashish121 commented on #125
@palrohitg please post the status of your work?

[2021-03-16 18:26] AshuKV commented on #162
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 18:54] ishika1727 commented on #162
@AshuKV please go ahead. Create a PR in `feature/react` branch by Thursday EOD.

Feel free to contact me for any issues

[2021-03-16 18:56] AshuKV commented on #160
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-17 16:30] Kashish121 commented on #160
@jeenashetti Yes it's similar, please go ahead!

[2021-03-17 16:33] Kashish121 commented on #125
@feni-katharotiya @jaiongit You guys still up for this issue? Ping asap. Will assign to whoever pings 1st. 😄

[2021-03-17 16:59] palrohitg commented on #125
@palrohitg  Sorry to info you later, I am facing some issue this npm command line while integrating with django, the flask web app code-base is shifted to django . Should I get generate the PR or fix it asap?

[2021-03-18 16:40] palrohitg opened #165 "Wrong Path of config.json in scanner.py"
**Describe the bug**
In Scanner.py while calling the ``` open(get_absolute_path('config.json'))``` should be ``` open(get_absolute_path('../../config.json'))```
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'scanner.py'
2. Click on 'execute the scanner.py.'

**Expected behavior**
``` open(get_absolute_path('../../config.json'))```

**Screenshots**
![image](https://user-images.githubus

[2021-03-18 17:23] SSHREYA71 commented on #62
@ishika1727 I am facing some issues in setting up the scanner on my device, can you brief the steps for setting up here, please.

[2021-03-25 09:43] lopeselio commented on #160
is the issue still up for grabs?

[2021-03-26 04:59] devRawnie commented on #155
Hi, I wanted to work upon this. Kindly assign this to me so that I can get started

[2021-03-26 06:32] ishika1727 commented on #155
@devRawnie pls go forward. I am assigning you. Create a P in feature/react branch by SUNDAY EOD

[2021-03-26 16:05] devRawnie commented on #155
Sure. Will do

[2021-03-28 13:09] devRawnie commented on #155
I have completed the code for this issue. Kindly review the same

[2021-03-28 13:10] devRawnie commented on #156
Hi, I would like to work on this issue. Kindly assign this to me

[2021-03-29 04:31] iamansoni commented on #148
Is this issue still needs to be addressed!
If yes, you can assign it to me!

[2021-03-29 04:33] iamansoni commented on #134
Is this issue still needs to be addressed!
If yes, you can assign it to me!

[2021-03-30 18:42] jaiongit commented on #125
I want to work on this.

[2021-04-02 21:02] Abhishek765 commented on #156
I would like to work on this issue

[2021-04-03 06:38] iamansoni commented on #147
I would like to work on this task!
You can assign it to me!

[2021-04-04 12:27] nandikajain commented on #148
@vinitshahdeo

[2021-04-04 12:27] nandikajain commented on #147
Hall of fame is now deprecated. Closing this issue.

[2021-04-04 12:27] #147 closed

[2021-04-05 08:21] chanchalap06 commented on #122
Is this issue still open? I would like to work on it as a GSSoC' 21 participant

[2021-04-14 06:27] rohank2502 commented on #140
Please look at the Pr

[2021-04-16 03:50] jeenashetti commented on #160
Could I create an additional instructions.html page?
This will provide instructions for users when they use PortScanner.

[2021-04-26 07:55] subhangi2731 commented on #125
please assign me this

[2021-04-26 08:18] subhangi2731 commented on #126
please assign this issue

[2021-04-26 08:26] subhangi2731 commented on #134
please assign me this

[2021-04-26 08:26] subhangi2731 commented on #148
assign me this please

[2021-04-26 08:30] subhangi2731 commented on #155
please assign me this

[2021-04-26 08:53] subhangi2731 commented on #156
please assign me

[2021-04-26 09:52] vinitshahdeo commented on #134
@subhangi2731 This is already done, I guess.

[2021-04-26 09:53] vinitshahdeo commented on #156
@subhangi2731 Assigning you this issue.

[2021-04-26 13:56] devRawnie commented on #155
@vinitshahdeo There is already a pull request pending for more than a month now. Please merge that one

[2021-05-01 14:27] guptachitresh commented on #128
@Kashish121 I want to work on this issue. Can you please assign me this?

[2021-05-01 14:30] Kashish121 commented on #128
@guptachitresh ye please go ahead. I have assigned you this issue. 👍🏽

[2021-05-01 14:59] Kashish121 commented on #128
Reopened.

[2021-05-04 13:57] KajalSinghBAGHEL commented on #154
can I work on this issue

[2021-05-04 13:58] KajalSinghBAGHEL opened #175 "Update README.md"
remove grammatical mistakes

[2021-05-04 13:59] KajalSinghBAGHEL commented on #175
I am a GSSOC participant. Please check my pull request

[2021-05-15 13:58] subhangi2731 commented on #120
@ishika1727 please assign me the issue I want to work on this

[2021-05-15 15:31] subhangi2731 commented on #156
@vinitshahdeo @ishika1727  After giving the request and getting that json I have to parse and print the json in UI right by using Bootstrap with react ??

[2021-05-15 16:18] devRawnie commented on #155
@vinitshahdeo Kindly look into the PR and merge the same if it is completed

[2021-05-15 16:40] ishika1727 commented on #156
Yes. You can go ahead!

[2021-05-15 16:41] ishika1727 commented on #120
@subhangi2731 please go ahead. Create a PR by Tuesday EOD.

[2021-05-18 13:23] subhangi2731 commented on #120
@ishika1727 I will create a pr by tomorrow

[2021-05-18 13:47] AnjiAgrawal commented on #154
Can I work on this as a participant of GSSOC21?

[2021-05-27 09:50] KajalSinghBAGHEL commented on #175
Check my pull request

[2021-05-30 06:16] akshaypk123 commented on #62
Iam a gssoc participant pls assign me this issue

[2021-05-30 15:04] #154 closed

[2021-06-06 11:29] harshakhmk commented on #148
@nandikajain  I would like to work on this issue

[2021-07-25 02:28] #152 closed

[2021-08-05 14:40] nagulvali555 commented on #73
Hi,
I would like to contribute.
I have created a PR please review.

Thanks!

[2021-10-02 07:28] Dcode-k commented on #160
Can I work on this page under hacktoberfest 2021?

[2021-10-02 07:32] Dcode-k commented on #123
Please assign this issue to me . I want to contribute in this for hacktoberfest 2021

[2021-10-02 17:44] Kashish121 commented on #160
@Dcode-k Yes sure, go ahead. Let me know how you wish proceed,

[2021-10-03 03:28] Dcode-k commented on #160
@Kashish121 https://preview.colorlib.com/theme/bootstrap/contact-form-12/
Is this type of contact page is okk.

[2021-10-05 23:17] soma2000-lang commented on #60
@Kashish121 @ishika1727 @vinitshahdeo can I work on this

[2022-01-12 15:05] nawed2611 commented on #58
Hi! Is this issue still open?

[2022-10-05 17:42] ig77ayush commented on #140
Please assign this issue to me